# Copy to .env and fill values
OPENAI_API_KEY=

# Model names (see OpenAI models docs)
OPENAI_MODEL_REASONING=gpt-5.2
OPENAI_MODEL_FAST=gpt-5-mini

# Embeddings model
OPENAI_EMBEDDINGS_MODEL=text-embedding-3-large

# App
APP_DATA_DIR=.data

# SharePoint (device-code auth)
SP_TENANT_ID=
SP_CLIENT_ID=
SP_SCOPES=Files.Read.All,Sites.Read.All

# Password to avoid access to the site by public when deployed on Publid domain
APP_PASSWORD=

# Logging
LOG_LEVEL=DEBUG